::selection {
	color: #333;
	background-color: #e6b3b3;
}

::-moz-selection {
	color: #333; 
	background-color: #e6b3b3;
}

*:not(.content-box-red):not(.content-box-green):not(.content-box-blue) {
	-webkit-tap-highlight-color: #e6b3b3;
}