/*main color: #339*/
body, h2, p, a, summary {
	color: #19194d; /*20%*/
} a {
	color: #339 !important; /*40%*/
} ::selection {
	background: #b3b3e6; /*80%*/
} ::-moz-selection {
	background: #b3b3e6; /*80%*/
} .container {
	background-color: rgba(217, 217, 242, 0.5); /*90%*/
	border: 2px solid #66c; /*60%*/
} .container:hover {
	background-color: rgba(217, 217, 242, 0.8); /*90%*/
	box-shadow: 4px 8px 4px #19194d; /*20%*/
}
	
