/*main color: #393*/
body, h2, p, a, summary {
	color: #194d19; /*20%*/
} a {
	color: #393 !important; /*40%*/
} ::selection {
	background: #b3e6b3; /*80%*/
} ::-moz-selection {
	background: #b3e6b3; /*80%*/
} .container {
	background-color: rgba(217, 242, 217, 0.5); /*90%*/
	border: 2px solid #6c6; /*60%*/
} .container:hover {
	background-color: rgba(217, 242, 217, 0.8); /*90%*/
	box-shadow: 4px 8px 4px #194d19; /*20%*/
}
	
