/*main color: #933*/
body, h2, p, a, summary {
	color: #4d1919; /*20%*/
} a {
	color: #933 !important; /*40%*/
} ::selection {
	background: #e6b3b3; /*80%*/
} ::-moz-selection {
	background: #e6b3b3; /*80%*/
} .container {
	background-color: rgba(242, 217, 217, 0.5); /*90%*/
	border: 2px solid #c66; /*60%*/
} .container:hover {
	background-color: rgba(242, 217, 217, 0.8); /*90%*/
	box-shadow: 4px 8px 4px #4d1919; /*20%*/
}
	
